<!DOCTYPE html>
<head>
  <title>top page</title>
  <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container">
  <h1 class="display-4 mb-4" th:text="${title}"></h1>
  <p th:text="${msg}"></p>

  <table class="table">
    <thead>
      <tr>
        <th>CustomerID</th>
        <th>NameStyle</th>
        <th>Title</th>
        <th>FirstName</th>
        <th>MiddleName</th>
        <th>LastName</th>
        <th>Suffix</th>
        <th>CompanyName</th>
        <th>SalesPerson</th>
        <th>EmailAddress</th>
        <th>Phone</th>
        <th>PasswordHash</th>
        <th>PasswordSalt</th>
        <th>rowguid</th>
        <th>ModifiedDate</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="item : ${data}">
        <td th:text="${item.customerId}"></td>
        <td th:text="${item.nameStyle}"></td>
        <td th:text="${item.title}"></td>
        <td th:text="${item.firstName}"></td>
        <td th:text="${item.middleName}"></td>
        <td th:text="${item.lastName}"></td>
        <td th:text="${item.suffix}"></td>
        <td th:text="${item.companyName}"></td>
        <td th:text="${item.salesPerson}"></td>
        <td th:text="${item.emailAddress}"></td>
        <td th:text="${item.phone}"></td>
        <td th:text="${item.passwordHash}"></td>
        <td th:text="${item.passwordSalt}"></td>
        <td th:text="${item.rowguid}"></td>
        <td th:text="${item.modifiedDate}"></td>
      </tr>
    </tbody>
  </table>
</body>
</html>